<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course


# data science tools and ecosystem

in this notebook, data science tools and ecosystem are summarized

# objectives 
- create and rename notebook
- create marckdown cells
- create headings
- create orderd and unorderd marckdown cells 
- create table marckdown 
- insert a code cell

### some of the popular languages that data science use are :
1. python
2. c++
3. R
4. my sql

### some of the commonly used libraries used by scientists include:
1. numpy
2. pandas 
3. tensflow
4. matplotlib


|data science tools|
|------------------|
|apache hadoob|
|tensorflow|
|Rstudio|

### below are a few examples of evaluating arithmatic expession in python 
1. $E=mc^2$
2. $\frac{a}{b}$

In [7]:
# this is a simple arihmatic expression to multiply then add integers
(3*4)+5

17

In [8]:
# this will convert 200 minutes to hours by diving by 60
a=200
b=60
c=a/b
print(c)

3.3333333333333335

## Author
mashaer